/**
 * partials/footer
 * ---
 */


.footer {
    background: black; 
    color: #fff; 
    p, ul, li, span {
        color: #fff; 
    }
    
    a {
        color: #fff; 
        
        &:hover {
            text-decoration: none; 
        }
    }
    
}
