/**
 * partials/footer
 * ---
 */


.footer {
    background: black; 
    color: #fff;
    padding: 7.2rem 0; 
    p, ul, li, span {
        color: #fff; 
    }
    
    a {
        color: #fff; 
        
        &:hover {
            text-decoration: none; 
        }
    }
    
}



.wpcf7{
    .wpcf7-form {

        width: 100%; 
        max-width: 26.6rem;
        
        input {
        width: 100%; 
        max-width: 28rem;

        }
       
        label{
            span {padding: .8rem 0 1.6rem;} 
            
            
            
        }
 

    }

}

.footer-logo {
    
    max-width: 24rem; 
    width: 100%; 
    height: auto;
    padding: 1.6rem; 
    
    svg {
        fill: #fff; 
    }
}





