/**
 * partials/footer
 * ---
 */


.footer {
    background: black; 
    color: #fff;
    padding: 7.2rem 0; 
    p, ul, li, span {
        color: #fff; 
    }
    
    a {
        color: #fff; 
        
        &:hover {
            text-decoration: none; 
        }
    }
    
}



.wpcf7{
    .wpcf7-form {

        width: 100%; 
        max-width: 26.6rem;
        
        input {
        width: 100%;
        max-width: 28rem;
        margin: 0.2rem 0 1.2rem;
        padding: 1rem 1.2rem;
        height: 4rem;
        }
       
        label{
            span {padding: .8rem 0 1.6rem;} 
            
            
            
        }
 

    }

}


.wpcf7-form-control {
    max-width: 27rem; 
    width: 100%; 

}
.wpcf7-submit {
    
    margin-top: 1.2rem; 
    text-decoration: none;
    color: #181b1c;
    background-image: linear-gradient(
120deg
, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;   
    background-size: 100% 0.2rem;    
    
&:hover { background-position: 100% 88%; color: $white; 
    background-size: 100% 0.6rem;}

        
    
}


.wpcf7-text, .wpcf7-validates-as-required, .wpcf7-tel, .wpcf7-validates-as-tel,  

.footer-logo {
    
    max-width: 24rem; 
    width: 100%; 
    height: auto;
    padding: 1.6rem; 
    
    svg {
        fill: #fff; 
    }
}





