/**
 * partials/header
 * ---
 */


// Header container
.header {
border-bottom: 1px solid #ccc;     
}

// Logo
.logo {
    
    justify-content: center;
    align-items: center;
    width: 100%; 
    display: flex; 

}

.logo-img {}
