/**
 * partials/nav
 * ---
 * Menus
 */

.menu-item {}
#menu-bar {
	width: 4.8rem;
	height: 4.8rem;
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
  cursor: pointer;
}

.bento-menu{
}
.bento-menu span{
	width: 4.8rem;
	height: 4.8rem;
	background: $white;
	position: absolute;
}
.bento-menu span:nth-child(1){
	top: 0;
	left: 0;
	transition: .6s;
}
.bento-menu span:nth-child(2){
	top: 0;
	left: 88px;
	transition: .6s;
}
.bento-menu span:nth-child(3){
	top: 0;
	left:175px;
	transition: .6s;
}
.bento-menu span:nth-child(4){
	top: 88px;
	left: 0;
	transition: .6s;
}
.bento-menu span:nth-child(5){
	top: 88px;
	left: 88px;
	transition: .6s;
}
.bento-menu span:nth-child(6){
	top: 88px;
	left:175px;
	transition: .6s;
}
.bento-menu span:nth-child(7){
	top: 175px;
	left: 0;
	transition: .6s;
}
.bento-menu span:nth-child(8){
	top: 175px;
	left: 88px;
	transition: .6s;
}
.bento-menu span:nth-child(9){
	top: 175px;
	left:175px;
	transition: .6s;
}
.bento-menu:hover span:nth-child(1){
	transform: translate(88px,88px);
}
.bento-menu:hover span:nth-child(3){
	transform: translate(-88px,88px);
}
.bento-menu:hover span:nth-child(7){
	transform: translate(88px,-88px);
}
.bento-menu:hover span:nth-child(9){
	transform: translate(-88px,-88px);
}
.bento-menu:hover span:nth-child(2){
	transform: rotate(180deg);
}
.bento-menu:hover span:nth-child(4){
	transform: rotate(180deg);
}
.bento-menu:hover span:nth-child(6){
	transform: rotate(-180deg);
}
.bento-menu:hover span:nth-child(8){
	transform: rotate(-180deg);
}
.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: $white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute;
z-index: 999;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, $red, $red);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: $white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}
.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 150vw;
  height: 150vh;
transform: translate(-60%,-30%);
}