/**
 * partials/nav
 * ---
 * Menus
 */


.nav {
    
    border-bottom: 1px solid #ccc;     
    
    ul {
        
        padding-top: .2rem; 
    }
    
    li {
        list-style: none;
    }
}

.menu {}

.sub-menu {}

.menu-item {}
