/**
 * partials/utils
 * ---
 * Utils classes
 */


$red: #e52227; 
$white: #fffafa; 
$secondary-red: #e52227;


// clearfix: http://nicolasgallagher.com/micro-clearfix-hack/
.clear {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.reset-box {
  @include reset-box;
}

.wrapper-full {
    
    width: 98vw;
    max-height: 124rem; 
    min-width: 10rem; 
    margin: 0 auto;
    
}


.multiply {
    
    mix-blend-mode: multiply;

}

.bg-red {
    background: $red;
    border-radius: 1rem;
    z-index: -2; 
}
