/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: 'Poppins', sans-serif;
$font-size-base: 140%;
$line-height-base: 1.6;


/**
 * Colors
 */

$text-color: #444;
$body-bg: #fffafa;
$selection-bg: #e52227;


/**
 * Grid
 */

$wrapper-width: 128rem;


$padding-horizontal-base: .4rem;
$padding-vertical-base: .4rem;
$margin-horizontal-base: .4rem;
$margin-vertical-base: .4rem;
$margin-horizontal-large: .4rem;
$margin-vertical-large: .4rem;