body {
    background-color: #fffafa; 
}

.wrapper-full {
    
    width: 100vw;
    max-height: 124rem; 
    min-width: 10rem; 
    margin: 0 auto; 
}


.text-center {
    text-align: center;
}

p, li, span, div {
    font-size: 1.8rem; 
}