$red: #e52227; 
$white: #fffafa; 
$secondary-red: #e52227;

.wrapper-full {
    
    width: 100vw;
    max-height: 124rem; 
    min-width: 10rem; 
    margin: 0 auto;
    
}


.text-center {
    text-align: center;
}

p, li, span {
    font-size: 1.8rem; 
}

.multiply {
    
    mix-blend-mode: multiply;

}


/* Top Grid Front Page*/

.grid-container {
    
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 8.4rem; 
    max-width: 160rem;
    width: 100%; 
    margin: 0 auto;
    padding: 0; 

    /* Start First Row*/
    
    div:nth-child(1) {
    grid-column: 2 / span 6;
    grid-row: 2 / 6;
        
    }

    div:nth-child(2) {
    grid-column: 7 / span 6;        
    grid-row: 3 / span 4;
    padding: 0 1rem 0 0;
    }
    
    div:nth-child(3) {
    grid-column: 13 / span 6;    
    grid-row: 3 / span 4;
    
    }
    
    div:nth-child(4) {
    grid-column: 19 / span 1;
    grid-row: 6 / span 1;
    margin: 1rem 0 1rem 1rem; 
    }

    div:nth-child(5) {
    grid-column: 23 / span 2;    
    grid-row: 1 / span 4;
    text-align: right; 
        
        p {
            padding: 0; 
        }
    
    }
    
    /* End First Row*/
    
    /*Start Second Content Row*/
    
div:nth-child(6) {
    grid-column: 1 / span 6;
    grid-row: 7 / span 7;    }    
    
div:nth-child(7) {
grid-column: 7 / span 6;
    grid-row: 7 / span 12;    }   
    
div:nth-child(8) {
    grid-column: 13 / span 12;
    grid-row: 7 / span 4;    
    }   
 
div:nth-child(9) {
    grid-column: 9 / span 16;
    grid-row: 8 / span 4;
    
    h1 {color: $white;
    font-size: 14.4rem;
    padding: 0 0 0 1.2rem;
    margin:  0;
    letter-spacing: -0.25rem;
    font-weight: 900;
    line-height: 1.44; 
    
    span {
    color: $red; 
    font-size: 14.4rem;
    padding: 0 !important;
    margin: 0 0 0 26.2rem;
    letter-spacing: -.75rem;    
    
    }
    
    }  
    
    }
 div:nth-child(10) {
    grid-column: 13 / span 7;
    grid-row: 12 / span 2;
    padding-left: 1.2rem;    
    }      
    
} 

.content {
    font-size: 1.8rem; 
    
    a.btn {
        text-decoration: none !important; 
        background-image: linear-gradient(120deg, $secondary-red 0%, $red 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    
        
        &:hover {
            background-position: 100% 88%; 
            
        }
    }
}


