body {
    background-color: #fffafa; 
}

.wrapper-full {
    
    width: 100vw;
    max-height: 124rem; 
    min-width: 10rem; 
    margin: 0 auto;
    
}


.text-center {
    text-align: center;
}

p, li, span {
    font-size: 1.8rem; 
}

.multiply {
    
    mix-blend-mode: multiply;

}




.grid-container {
    
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 8.4rem; 
    max-width: 160rem;
    width: 100%; 
    margin: 0 auto;

    div:nth-child(1) {
        
    grid-row: 2 / 6;
    grid-column: 2 / span 6;
        
    }

    div:nth-child(2) {
    grid-row: 6 / span 12;
    grid-column: 3 / span 7;
    padding: 0 0 0 1rem; 
        
    }
    
    div:nth-child(3) {
    grid-row: 8 / span 16;
    grid-column: 3 / span 7;
    }
    
    
 
} 

div:nth-child(4) {
        grid-row: 8 / span 32;
    grid-column: 2 / span 3;
        
    padding: 0 1rem 0 0; 
        
    }
    
    div:nth-child(5) {
        grid-row: 8 / span 16;
        grid-column: 3 / span 4;        
        
    }
    
    div:nth-child(6) { 
            grid-row: 8 / span 16;
        grid-column: 2 / span 4;
        z-index: 2; 

    }
    
    
     article:nth-child(7) {
    grid-row: 28 auto;
    grid-column: 3 / span 1;
    z-index: 3;

    }



