$red: #DC052D; 
$white: #fffafa; 
$secondary-red: #DC052D;



.card {
        border: 1px solid #ccc;
        padding: 1.6rem; 
        border-radius: 1rem; 
        q {font-size: 2.2rem; 
        line-height: 1.2rem; 
        }
        cite {
            font-size: 1.2rem; 
            
        }
        cite::before {
            content: "—"
        }
    }


// form
a.btn {
    text-decoration: none;
    color: #e52227;
    background: transparent;
    border: 8px solid transparent;
    border-right: 8px solid #e52227;
    border-bottom: 8px solid #e52227;
    font-size: 2.2rem;
    padding: 2.2rem;
    font-weight: 600;
    border-radius: 0.4rem 0rem;
    margin-top: 1.2rem;
    display: block;
    width: 180px;
    
    &:hover { 
    border: 8px solid transparent; 
    border-left: 8px solid $red; 
    border-top: 8px solid $red; 

    }

        }