$red: #e52227; 
$white: #fffafa; 
$secondary-red: #e52227;



.card {
        border: 1px solid #ccc;
        padding: 1.6rem; 
        border-radius: 1rem; 
        q {font-size: 2.2rem; 
        line-height: 1.2rem; 
        }
        cite {
            font-size: 1.2rem; 
            
        }
        cite::before {
            content: "—"
        }
    }


// form 




a.btn {

      /*outline: 1px solid red;*/
      border: 2.4rem solid transparent;
      font-size: 2.2rem;
      letter-spacing: -.2rem;
      padding: 1.2rem;
      display:flex;
      justify-content: center;
      align-items: center;

    }


.bg {
          background-image:
        linear-gradient(white, white),
        linear-gradient(270deg, #00D7B9, #B95DD7 50%, #FFB367 100%);

      background-repeat: no-repeat;
      background-origin: padding-box, border-box;
      text-align: center;

}

.animated {
      background-image:
        linear-gradient(white, white),
        linear-gradient(180deg, cornflowerblue, purple 50%, cornflowerblue);

      background-repeat: no-repeat;
      background-size: 100% 100%, 100% 200%;
      background-position: 0 0, 0 100%;
      background-origin: padding-box, border-box;
      animation: highlight 1s infinite alternate;
    }

    @keyframes highlight {
      100% {
        background-position: 0 0, 0 0;
      }
    }