$red: #e52227; 
$white: #fffafa; 
$secondary-red: #e52227;



.card {
        border: 1px solid #ccc;
        padding: 1.6rem; 
        border-radius: 1rem; 
        q {font-size: 2.2rem; 
        line-height: 1.2rem; 
        }
        cite {
            font-size: 1.2rem; 
            
        }
        cite::before {
            content: "—"
        }
    }


// form 




a.btn {
    text-decoration: none;
    color: $red;
    background: transparent; 
    border-right: 8px solid $red; 
    border-bottom: 8px solid $red; 
    font-size: 2.2rem;
    padding: 2.2rem;
    font-weight: 600; 
    
    &:hover { 
    
    }

        }