$red: #e52227; 
$white: #fffafa; 
$secondary-red: #e52227;

.content {
    font-size: 1.4rem;
    padding: 0 0 1.2rem;
    line-height: 2.4rem; 
    }  

h1 {
    
    color: $red;
    font-size: 4.8rem;
    letter-spacing: -0.25rem;
    font-weight: 900;
    line-height: 5.2rem;
    padding: 0;
    margin: 0 0 0 0;
    }

.grid-item {
    display: grid;
    grid-template-rows: minmax(1.2rem, auto);
    grid-template-columns: repeat(6, 1fr);
    max-width: 100vw;
    width: 100%;
    margin: 0 auto;
    padding: 1.2rem 1.2rem 0rem 1.2rem;
    grid-column-gap: 1.6rem;
    grid-row-gap: 1.2rem;
    
    img {border-radius: 1rem; }

}
.grid-item-1 {
    
    /* Start First Row*/
    div:nth-child(1) {
    grid-column: 1 / span 6;
    grid-row: 2 / span 1;    
    
    }  
    
    // text 
    div:nth-child(2) {
    grid-column: 1 / span 7;
    grid-row: 3 / span 1;    }
    
    
    // Movement media art 
    div:nth-child(3) {
    grid-column: 1 / span 7;
    grid-row: 4 / span 7;    }
    
    // SVG 
    div:nth-child(4) {    
    grid-column: 6 / span 1;
    grid-row: 1 / span 1;
    }
    
    // big red 
    div:nth-child(5) {    
    grid-column: 4 / span 3;
    grid-row: 7 / span 7;
  }
}  
.grid-item-2{
    
    div:nth-child(1) {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    
    } 
    
    
    div:nth-child(2) {
    grid-column: 4 / span 3;
    grid-row: 1 / span 4;        
    
        img {
            height: auto;  
        }    
    } 
    
    div:nth-child(3) {
    grid-column: 1 / span 6;
    grid-row: 5 / span 1;
}    
    
    div:nth-child(4) {    
    grid-column: 1 / span 3;
    grid-row: 3 / span 2;
    
    }
    
    div:nth-child(5) {
    grid-column: 1 / span 6;
    grid-row: 6 / span 6;
    
    }     
// vision    
    div:nth-child(6) {
    grid-column: 1 / span 6;
    grid-row: 16 / span 4;        
} 
    
    .sub-item {
    display: grid; 
    grid-column: 1fr;
    grid-column-gap: .8rem;
    grid-row-gap: .8rem;
    }
    
    div:nth-child(7) {
    grid-column: 4 / span 3;
    grid-row: 9 / span 7;} 
    
    }
.grid-item-3 {

    div:nth-child(1) {
    grid-column: 5 / span 3;
    grid-row: 2 / span 6;    }
    
    div:nth-child(2) {        
    grid-column: 1 / span 4;
    grid-row: 1 / span 6;
    background: transparent;
    z-index: 1;
    /* border-radius: 1rem; */
    padding: 0.8rem;
    }
    div:nth-child(3) {    
    grid-column: 6 / span 1;
    grid-row: 4 / span 6;
    
    }
    
 
    
}
.grid-item-4 {
       
    div:nth-child(1) 
    {
    grid-column: 3 / span 3;
    grid-row: 2 / span 8;
    } 
    
    div:nth-child(2) {
    grid-column: 1 / span 6;
    grid-row: 1 / span 8;    
    }
    
   // add red area 
    div:nth-child(3) {
        
    grid-column: 5 / span 2;
    grid-row: 1 / span 10;
    }


    
    }    
.grid-item-5 {
    
    
    .client_content {
        
    grid-column: 1 / span 6;
    grid-row: 1 / span 3;
  }

    
    
    .logo_wrapper {
    
    grid-column: 1 / span 6;
    grid-row: 4 / span 1;  
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: dense column row; 
    grid-column-gap: .8rem;
    grid-row-gap: .8rem;
    
    }
    
 img {
        outline: #ccc 1px solid; 
    }
    
    }
.grid-item-6   {
    div:nth-child(1) {
    grid-column: 1 / span 6;
        grid-row: 1 / span 4;
    }

    div:nth-child(2) {
    grid-column: 1 / span 6;
        grid-row: 5 / span 4;
    }
    
    div:nth-child(3) {
    grid-column: 1 / span 6;
        grid-row: 9 / span 4;


    }
    }
.grid-item-7 {
    
    img {
        outline: #ccc 1px solid; 
    }
    
    div:nth-child(1) {
    grid-column: 1 / span 6;
        grid-row: 1 / span 4;
    }

    div:nth-child(2) {
    grid-column: 1 / span 6;
        grid-row: 5 / span 4;
    }
    
    div:nth-child(3) {
    grid-column: 1 / span 6;
        grid-row: 9 / span 4;


    }
    

    
}    
