/**
 * partials/footer
 * ---
 */
/* line 7, ../css/sass/partials/footer.scss */
.footer {
  background: black;
  color: #fff;
  padding: 7.2rem 0; }
  /* line 11, ../css/sass/partials/footer.scss */
  .footer p, .footer ul, .footer li, .footer span {
    color: #fff; }
  /* line 15, ../css/sass/partials/footer.scss */
  .footer a {
    color: #fff; }
    /* line 18, ../css/sass/partials/footer.scss */
    .footer a:hover {
      text-decoration: none; }

/* line 28, ../css/sass/partials/footer.scss */
.wpcf7 .wpcf7-form {
  width: 100%;
  max-width: 26.6rem; }
  /* line 33, ../css/sass/partials/footer.scss */
  .wpcf7 .wpcf7-form input {
    width: 100%;
    max-width: 28rem;
    margin: 0.2rem 0 1.2rem;
    padding: 1rem 1.2rem;
    height: 4rem; }
  /* line 42, ../css/sass/partials/footer.scss */
  .wpcf7 .wpcf7-form label span {
    padding: .8rem 0 1.6rem; }

/* line 54, ../css/sass/partials/footer.scss */
.wpcf7-form-control {
  max-width: 26rem;
  width: 100%; }

/* line 60, ../css/sass/partials/footer.scss */
.wpcf7-text, .wpcf7-validates-as-required, .wpcf7-tel, .wpcf7-validates-as-tel,
.footer-logo {
  max-width: 24rem;
  width: 100%;
  height: auto;
  padding: 1.6rem; }
  /* line 69, ../css/sass/partials/footer.scss */
  .wpcf7-text svg, .wpcf7-validates-as-required svg, .wpcf7-tel svg, .wpcf7-validates-as-tel svg,
  .footer-logo svg {
    fill: #fff; }
