/**
 * partials/nav
 * ---
 * Menus
 */
/* line 8, ../css/sass/partials/nav.scss */
.nav {
  border-bottom: 1px solid #ccc; }
  /* line 12, ../css/sass/partials/nav.scss */
  .nav ul {
    padding-top: .4rem; }
  /* line 17, ../css/sass/partials/nav.scss */
  .nav li {
    list-style: none; }

/* line 24, ../css/sass/partials/nav.scss */
.sub-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
