/**
 * partials/nav
 * ---
 * Menus
 */
/* line 7, ../css/sass/partials/nav.scss */
#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer; }

/* line 14, ../css/sass/partials/nav.scss */
.bar {
  height: 5px;
  width: 100%;
  background-color: #DC052D;
  display: block;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; }

/* line 23, ../css/sass/partials/nav.scss */
#bar1 {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px); }

/* line 27, ../css/sass/partials/nav.scss */
#bar3 {
  -webkit-transform: translateY(4px);
          transform: translateY(4px); }

/* line 31, ../css/sass/partials/nav.scss */
.nav {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: none; }

/* line 36, ../css/sass/partials/nav.scss */
.nav ul {
  padding: 0 22px; }

/* line 40, ../css/sass/partials/nav.scss */
.nav li {
  list-style: none;
  padding: 12px 0; }

/* line 45, ../css/sass/partials/nav.scss */
.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none; }

/* line 51, ../css/sass/partials/nav.scss */
.nav li a:hover {
  font-weight: bold; }

/* line 55, ../css/sass/partials/nav.scss */
.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute; }

/* line 61, ../css/sass/partials/nav.scss */
.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #dc052d, #dc052d);
  border-radius: 50%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; }

/* line 71, ../css/sass/partials/nav.scss */
.change {
  display: block; }

/* line 75, ../css/sass/partials/nav.scss */
.change .bar {
  background-color: white; }

/* line 79, ../css/sass/partials/nav.scss */
.change #bar1 {
  -webkit-transform: translateY(4px) rotateZ(-45deg);
          transform: translateY(4px) rotateZ(-45deg); }

/* line 83, ../css/sass/partials/nav.scss */
.change #bar2 {
  opacity: 0; }

/* line 87, ../css/sass/partials/nav.scss */
.change #bar3 {
  -webkit-transform: translateY(-6px) rotateZ(45deg);
          transform: translateY(-6px) rotateZ(45deg); }

/* line 91, ../css/sass/partials/nav.scss */
.change-bg {
  width: 520px;
  height: 460px;
  -webkit-transform: translate(-60%, -30%);
          transform: translate(-60%, -30%); }
