/* line 1, css/sass/design.scss */
body {
  background-color: #fffafa; }

/* line 5, css/sass/design.scss */
.wrapper-full {
  width: 100vw;
  max-height: 124rem;
  min-width: 10rem;
  margin: 0 auto; }

/* line 15, css/sass/design.scss */
.text-center {
  text-align: center; }

/* line 19, css/sass/design.scss */
p, li, span {
  font-size: 1.8rem; }

/* line 23, css/sass/design.scss */
.multiply {
  mix-blend-mode: multiply; }

/* line 32, css/sass/design.scss */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 160rem;
  width: 100%;
  margin: 0 auto; }
  /* line 40, css/sass/design.scss */
  .grid-container div:nth-child(1) {
    grid-row: 1 / 1;
    grid-column: 2 / span 2;
    padding: 0 0 1rem 0; }
  /* line 48, css/sass/design.scss */
  .grid-container div:nth-child(2) {
    grid-row: 1 / span 1;
    grid-column: 3 / span 3;
    padding: 0 0 0 1rem; }
  /* line 55, css/sass/design.scss */
  .grid-container div:nth-child(3) {
    grid-row: 2 / span 3;
    grid-column: 1 / span 1; }
  /* line 60, css/sass/design.scss */
  .grid-container div:nth-child(4) {
    grid-row: 2 / span 4;
    grid-column: 2 / span 3;
    padding: 0 1rem 0 0; }
  /* line 68, css/sass/design.scss */
  .grid-container div:nth-child(5) {
    grid-row: 2 / span 3;
    grid-column: 3 / span 4; }
