/* line 1, css/sass/design.scss */
body {
  background-color: #fffafa; }

/* line 5, css/sass/design.scss */
.wrapper-full {
  width: 100vw;
  max-height: 124rem;
  min-width: 10rem;
  margin: 0 auto; }

/* line 14, css/sass/design.scss */
.text-center {
  text-align: center; }

/* line 18, css/sass/design.scss */
p {
  font-size: 1.8rem; }
