/* line 1, css/sass/design.scss */
body {
  background-color: #fffafa; }

/* line 5, css/sass/design.scss */
.wrapper-full {
  width: 100vw;
  max-height: 124rem;
  min-width: 10rem;
  margin: 0 auto; }

/* line 15, css/sass/design.scss */
.text-center {
  text-align: center; }

/* line 19, css/sass/design.scss */
p, li, span {
  font-size: 1.8rem; }

/* line 23, css/sass/design.scss */
.multiply {
  mix-blend-mode: multiply; }

/* Top Grid Front Page*/
/* line 32, css/sass/design.scss */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 8.4rem;
  max-width: 160rem;
  width: 100%;
  margin: 0 auto;
  /* Start First Row*/
  /* End First Row*/ }
  /* line 43, css/sass/design.scss */
  .grid-container div:nth-child(1) {
    grid-column: 2 / span 6;
    grid-row: 2 / 6; }
  /* line 49, css/sass/design.scss */
  .grid-container div:nth-child(2) {
    grid-column: 7 / span 6;
    grid-row: 3 / span 4;
    padding: 0 1rem 0 0; }
  /* line 55, css/sass/design.scss */
  .grid-container div:nth-child(3) {
    grid-column: 13 / span 6;
    grid-row: 3 / span 4; }
  /* line 61, css/sass/design.scss */
  .grid-container div:nth-child(4) {
    grid-column: 19 / span 1;
    grid-row: 6 / span 1;
    margin: 1rem; }
  /* line 67, css/sass/design.scss */
  .grid-container div:nth-child(5) {
    grid-column: 23 / span 2;
    grid-row: 1 / span 4;
    text-align: right; }
    /* line 72, css/sass/design.scss */
    .grid-container div:nth-child(5) p {
      padding: 0; }
  /* line 80, css/sass/design.scss */
  .grid-container div:nth-child(6) {
    grid-column: 1 / span 4;
    grid-row: 7 / span 4; }
  /* line 85, css/sass/design.scss */
  .grid-container div:nth-child(7) {
    grid-column: 5 / span 4;
    grid-row: 7 / span 8; }
  /* line 90, css/sass/design.scss */
  .grid-container div:nth-child(8) {
    grid-column: 9 / span 8;
    grid-row: 7 / span 4; }
