/* line 6, css/sass/large.scss */
h1 {
  color: #e52227;
  font-size: 12.2rem;
  letter-spacing: -0.25rem;
  font-weight: 900;
  line-height: .88; }

/* line 16, css/sass/large.scss */
.grid-item {
  display: grid;
  grid-template-rows: 7.2rem;
  grid-template-columns: repeat(24, 1fr);
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  padding: .8rem .8rem 0rem .8rem;
  grid-column-gap: .8rem;
  grid-row-gap: .8rem; }
  /* line 27, css/sass/large.scss */
  .grid-item img {
    border-radius: 1rem; }

/* line 29, css/sass/large.scss */
.grid-item-1 {
  /* Start First Row*/ }
  /* line 34, css/sass/large.scss */
  .grid-item-1 div:nth-child(1) {
    grid-column: 12 / span 13;
    grid-row: 2 / span 5; }
  /* line 42, css/sass/large.scss */
  .grid-item-1 div:nth-child(2) {
    grid-column: 12 / span 6;
    grid-row: 6 / span 3; }
  /* line 47, css/sass/large.scss */
  .grid-item-1 div:nth-child(3) {
    grid-column: 4 / span 8;
    grid-row: 2 / span 8; }
  /* line 52, css/sass/large.scss */
  .grid-item-1 div:nth-child(4) {
    grid-column: 24 / span 1;
    grid-row: 1 / span 1; }

/* line 59, css/sass/large.scss */
.grid-item-2 div:nth-child(1) {
  grid-column: 1 / span 6;
  grid-row: 1/ span 7; }
/* line 63, css/sass/large.scss */
.grid-item-2 div:nth-child(2) {
  grid-column: 7 / span 6;
  grid-row: 1 / span 13; }
  /* line 66, css/sass/large.scss */
  .grid-item-2 div:nth-child(2) img {
    height: 100%; }
/* line 70, css/sass/large.scss */
.grid-item-2 div:nth-child(3) {
  grid-column: 13 / span 12;
  grid-row: 1 / span 7; }
/* line 76, css/sass/large.scss */
.grid-item-2 div:nth-child(4) {
  grid-column: 13 / span 6;
  grid-row: 8 / span 7; }
/* line 80, css/sass/large.scss */
.grid-item-2 div:nth-child(5) {
  grid-column: 13 / span 12;
  grid-row: 15 / span 11; }
/* line 85, css/sass/large.scss */
.grid-item-2 div:nth-child(6) {
  grid-column: 2 / span 4;
  grid-row: 16 / span 8; }
/* line 90, css/sass/large.scss */
.grid-item-2 div:nth-child(7) {
  grid-column: 7 / span 4;
  grid-row: 16 / span 8; }
/* line 94, css/sass/large.scss */
.grid-item-2 div:nth-child(8) {
  grid-column: 1 / span 12;
  grid-row: 22 / span 8; }
/* line 97, css/sass/large.scss */
.grid-item-2 div:nth-child(9) {
  grid-column: 15 / span 6;
  grid-row: 26 / span 8; }
/* line 101, css/sass/large.scss */
.grid-item-2 div:nth-child(10) {
  grid-column: 8 / span 6;
  grid-row: 22 / span 10; }
/* line 105, css/sass/large.scss */
.grid-item-2 div:nth-child(11) {
  grid-column: 17 / span 6;
  grid-row: 7 / span 13; }

/* line 117, css/sass/large.scss */
.grid-item-3 div:nth-child(1) {
  grid-column: 2 / span 10;
  grid-row: 1 / span 8; }
/* line 123, css/sass/large.scss */
.grid-item-3 div:nth-child(2) {
  grid-column: 13 / span 2;
  grid-row: 2 / span 6; }
/* line 131, css/sass/large.scss */
.grid-item-3 div:nth-child(3) {
  grid-column: 1 / span 10;
  grid-row: 2 / span 18; }

/* line 144, css/sass/large.scss */
.grid-item-4 .client_content {
  grid-column: 6 / span 6;
  grid-row: 3 / span 4; }
/* line 153, css/sass/large.scss */
.grid-item-4 .logo_wrapper {
  grid-column: 13 / span 12;
  grid-row: 1 / span 8;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: dense column row;
  grid-column-gap: .8rem;
  grid-row-gap: .8rem; }
/* line 166, css/sass/large.scss */
.grid-item-4 img {
  outline: #ccc 1px solid; }

/* line 172, css/sass/large.scss */
.grid-item-5 div:nth-child(1) {
  grid-column: 1 / span 8;
  grid-row: 1 / span 8; }
/* line 177, css/sass/large.scss */
.grid-item-5 div:nth-child(2) {
  grid-column: 9 / span 8;
  grid-row: 1 / span 8; }
/* line 182, css/sass/large.scss */
.grid-item-5 div:nth-child(3) {
  grid-column: 17  / span 8;
  grid-row: 1 / span 8; }

/* line 193, css/sass/large.scss */
.grid-item-6 img {
  outline: #ccc 1px solid; }
/* line 197, css/sass/large.scss */
.grid-item-6 div:nth-child(1) {
  grid-column: 1 / span 8;
  grid-row: 1 / span 8; }
/* line 202, css/sass/large.scss */
.grid-item-6 div:nth-child(2) {
  grid-column: 9 / span 8;
  grid-row: 1 / span 8; }
/* line 207, css/sass/large.scss */
.grid-item-6 div:nth-child(3) {
  grid-column: 17  / span 8;
  grid-row: 1 / span 8; }
