/* line 5, css/sass/large.scss */
.content {
  font-size: 1.8rem;
  padding: 0 0 1.2rem;
  line-height: 2.4rem; }

/* line 10, css/sass/large.scss */
h1 {
  color: #e52227;
  font-size: 12.2rem;
  letter-spacing: -0.25rem;
  font-weight: 900;
  line-height: 13.6rem;
  padding: 0;
  margin: 0 0 1.2rem 0; }

/* line 21, css/sass/large.scss */
.grid-item {
  display: grid;
  grid-template-rows: 3.2rem;
  grid-template-columns: repeat(24, 1fr);
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  padding: 2.4rem 1.6rem 0rem 1.6rem;
  grid-column-gap: 1.6rem;
  grid-row-gap: 1.6rem; }
  /* line 33, css/sass/large.scss */
  .grid-item img {
    border-radius: 1rem; }

/* line 34, css/sass/large.scss */
.grid-item-1 {
  /* Start First Row*/ }
  /* line 39, css/sass/large.scss */
  .grid-item-1 div:nth-child(1) {
    grid-column: 12 / span 12;
    grid-row: 2 / span 4; }
  /* line 47, css/sass/large.scss */
  .grid-item-1 div:nth-child(2) {
    grid-column: 12 / span 6;
    grid-row: 6 / span 4; }
  /* line 52, css/sass/large.scss */
  .grid-item-1 div:nth-child(3) {
    grid-column: 5 / span 6;
    grid-row: 4 / span 6; }
  /* line 57, css/sass/large.scss */
  .grid-item-1 div:nth-child(4) {
    grid-column: 24 / span 1;
    grid-row: 1 / span 1; }
  /* line 62, css/sass/large.scss */
  .grid-item-1 div:nth-child(5) {
    grid-column: 3 / span 4;
    grid-row: 1 / span 5; }

/* line 71, css/sass/large.scss */
.grid-item-2 div:nth-child(1) {
  grid-column: 1 / span 6;
  grid-row: 1 / span 6; }
/* line 74, css/sass/large.scss */
.grid-item-2 div:nth-child(2) {
  grid-column: 7 / span 6;
  grid-row: 1 / span 12; }
  /* line 77, css/sass/large.scss */
  .grid-item-2 div:nth-child(2) img {
    height: 100%; }
/* line 81, css/sass/large.scss */
.grid-item-2 div:nth-child(3) {
  grid-column: 13 / span 12;
  grid-row: 1 / span 6; }
/* line 87, css/sass/large.scss */
.grid-item-2 div:nth-child(4) {
  grid-column: 13 / span 6;
  grid-row: 7 / span 6; }
/* line 91, css/sass/large.scss */
.grid-item-2 div:nth-child(5) {
  grid-column: 13 / span 6;
  grid-row: 13 / span 6; }
/* line 97, css/sass/large.scss */
.grid-item-2 div:nth-child(6) {
  grid-column: 2 / span 10;
  grid-row: 14 / span 4; }
/* line 103, css/sass/large.scss */
.grid-item-2 .sub-item {
  display: grid;
  grid-column: repeat(2, 1fr);
  grid-column-gap: 1.6rem;
  grid-row-gap: 1.6rem; }
/* line 110, css/sass/large.scss */
.grid-item-2 div:nth-child(7) {
  grid-column: 13 / span 3;
  grid-row: 7 / span 12; }

/* line 116, css/sass/large.scss */
.grid-item-3 div:nth-child(1) {
  grid-column: 7 / span 6;
  grid-row: 1 / span 5; }
/* line 120, css/sass/large.scss */
.grid-item-3 div:nth-child(2) {
  grid-column: 13 / span 6;
  grid-row: 3 / span 2; }
/* line 124, css/sass/large.scss */
.grid-item-3 div:nth-child(3) {
  grid-column: 10 / span 3;
  grid-row: 1 / span 8; }

/* line 130, css/sass/large.scss */
.grid-item-4 div:nth-child(1) {
  grid-column: 3 / span 10;
  grid-row: 1 / span 8; }
/* line 135, css/sass/large.scss */
.grid-item-4 div:nth-child(2) {
  grid-column: 13 / span 3;
  grid-row: 2 / span 6; }
/* line 142, css/sass/large.scss */
.grid-item-4 div:nth-child(3) {
  grid-column: 1 / span 4;
  grid-row: 2 / span 6; }

/* line 153, css/sass/large.scss */
.grid-item-5 .client_content {
  grid-column: 4 / span 6;
  grid-row: 2 / span 1; }
/* line 162, css/sass/large.scss */
.grid-item-5 .logo_wrapper {
  grid-column: 13 / span 12;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: dense column;
  grid-column-gap: .8rem;
  grid-row-gap: .8rem; }
/* line 176, css/sass/large.scss */
.grid-item-5 img {
  outline: #ccc 1px solid; }

/* line 182, css/sass/large.scss */
.grid-item-6 div:nth-child(1) {
  grid-column: 1 / span 8;
  grid-row: 1 / span 8; }
/* line 187, css/sass/large.scss */
.grid-item-6 div:nth-child(2) {
  grid-column: 9 / span 8;
  grid-row: 1 / span 8; }
/* line 192, css/sass/large.scss */
.grid-item-6 div:nth-child(3) {
  grid-column: 17  / span 8;
  grid-row: 1 / span 8; }

/* line 203, css/sass/large.scss */
.grid-item-7 img {
  outline: #ccc 1px solid; }
/* line 207, css/sass/large.scss */
.grid-item-7 div:nth-child(1) {
  grid-column: 1 / span 8;
  grid-row: 1 / span 8; }
/* line 212, css/sass/large.scss */
.grid-item-7 div:nth-child(2) {
  grid-column: 9 / span 8;
  grid-row: 1 / span 8; }
/* line 217, css/sass/large.scss */
.grid-item-7 div:nth-child(3) {
  grid-column: 17  / span 8;
  grid-row: 1 / span 8; }
