@charset "UTF-8";
/* line 1, css/sass/typography.scss */
.card {
  border: 1px solid #ccc;
  padding: 1.6rem;
  border-radius: 1rem; }
  /* line 5, css/sass/typography.scss */
  .card q {
    font-size: 2.2rem;
    line-height: 1.2rem; }
  /* line 8, css/sass/typography.scss */
  .card cite {
    font-size: 1.2rem; }
  /* line 12, css/sass/typography.scss */
  .card cite::before {
    content: "—"; }

/* line 27, css/sass/typography.scss */
.wpcf7 .wpcf7-form label {
  position: absolute;
  left: 25px;
  top: 25px;
  display: block;
  margin: 0;
  font-weight: 300;
  z-index: 1;
  font-size: 18px;
  line-height: 10px; }
