@charset "UTF-8";
/* line 7, css/sass/typography.scss */
.card {
  border: 1px solid #ccc;
  padding: 1.6rem;
  border-radius: 1rem; }
  /* line 11, css/sass/typography.scss */
  .card q {
    font-size: 2.2rem;
    line-height: 1.2rem; }
  /* line 14, css/sass/typography.scss */
  .card cite {
    font-size: 1.2rem; }
  /* line 18, css/sass/typography.scss */
  .card cite::before {
    content: "—"; }

/* line 29, css/sass/typography.scss */
a.btn {
  text-decoration: none;
  color: #e52227;
  background: transparent;
  border: 8px solid transparent;
  border-right: 8px solid #e52227;
  border-bottom: 8px solid #e52227;
  font-size: 2.2rem;
  padding: 2.2rem;
  font-weight: 600;
  border-radius: .4rem 1rem;
  margin-top: 1.2rem;
  display: block; }
  /* line 43, css/sass/typography.scss */
  a.btn:hover {
    border: 8px solid transparent;
    border-left: 8px solid #e52227;
    border-top: 8px solid #e52227; }
